<div class="footer-bottom pt-[15px] lg:pt-[30px] p-glue-prev">
  <div class="container">
    <div class="row gy-3">
      <div class="col footer-copyright-wrap">
        {% render 'copyright', section: section %}
      </div>
      {%- if section.settings.bottom_socials_media -%}
        <div class="col footer-social-wrap lg:justify-end flex">
          <div class="flex items-center gap-[30px]">
          <div class="text-[24px] text-white" >Follow us on</div>
            {% render 'social-media', class: 'footer-social list-unstyled' %}
          </div>
        </div>
      {%- endif -%}
      {%- if section.settings.payment_enable -%}
        <div class="col footer-payment-wrap">
          {% render 'footer-payments' %}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>