<div class="col-md-6">
  {%- liquid
    assign show_newsletter = true
    if customer and customer.accepts_marketing
      assign show_newsletter = false
    endif -%}
  {%- if section.settings.newsletter_enable and show_newsletter -%}
    {%- form 'customer', class: 'newsletter-form', name: 'newsletter' -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      {%- if form.posted_successfully? -%}
        {% render 'newsletters-subscription-success' %}
      {%- endif -%}
      {%- if form.errors -%}
        <script>
          document.querySelector('body').classList.remove('newslettermodal-error');
        </script>
      {%- endif -%}
      {%- liquid
        assign padding = ''
        if section.settings.top_bottom_space == 'none'
          assign padding = 'py-5 pt-lg-8 p-glue-next'
        elsif section.settings.top_bottom_space == 'small'
          assign padding = 'py-4 pt-lg-8 pb-md-4'
        elsif section.settings.top_bottom_space == 'medium'
          assign padding = 'py-8'
        endif
      -%}
    <div class="col-lg-8">
        <div class="subscribe-footer text-body {{ padding }}">
            <h4 class="subscribe-footer-title heading-font mb-2">
              Join the Creed community
            </h4>
            <div class="rich-text">
              <p class="mb-5">Stay updated on launches, drops, and stories</p>
            </div>
            <div class="subscribe-footer-input-group">
                  {% render 'footer-subscribe-core', form: form %}
            </div>
          </div>    
    </div>  
    {%- endform -%}
  {%- endif -%}
</div>