<div class="row footer-payments-list g-1 flex-wrap" style="--footer-payments-icon-height: 28px">
  <span class="visually-hidden">{{ 'theme-sections.sections.footer.payment' | t }}</span>
  {%- for type in shop.enabled_payment_types -%}
    <div class="col-auto">{{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}</div>
  {%- endfor -%}

  {% render 'payments-custom' %}
</div>