<input id="selectAll{{ product_form_id }}" {% if counter == 1 %}class="visibility-hidden"{% endif %} type="checkbox" name="toggle_select" checked>
<label for="selectAll{{ product_form_id }}" {% if counter == 1 %}class="visibility-hidden"{% endif %}>{{ 'theme.general.select_all' | t }}</label>