{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- if settings.shipping_calculator -%}
  <div data-shipping-calculator-form-slot class="position-relative h-50"><div class="loading-overlay"><div data-load="loading"></div></div></div>
{%- endif -%}