{% comment %}theme-check-disable NestedSnippet{% endcomment %}
{%- liquid
  assign layout = 'product-card-lookbook'
  assign section_id = 'product-card-lookbook'
  assign product_form_suffix = ''
  assign product_form_id = 'product-form-' | append: product_form_suffix | append: section_id | append: '-' | append: product.id
  if settings.catalog_mode and product.has_only_default_variant == true
  endif
  assign current_variant = product.selected_or_first_available_variant
  assign image = product.featured_media | default: product.featured_media

  assign target = product.selected_variant | default: product

  assign in_collection = product.collections | where: 'handle', collection.handle | first
  if collection == null or collection.handle == 'all' or in_collection == nil
  assign all_products_count = 0
  for c in product.collections
  if c.handle != 'all' and c.handle != 'frontpage' and all_products_count < c.all_products_count
  assign collection = c
  assign all_products_count = c.all_products_count
  endif
  endfor
  endif

  assign product_url_collection = product.url

  if settings.product_card_url_within_collection
    assign product_url_collection = product.url | within: collection
  endif
-%}
<div class="prd prd-simple prd--style2 lookbook-prd" data-section-render>
  {% capture after_img %}
    {% render 'product-card-badges', render: true, section: section, layout: layout, product: product, product_form_id: product_form_id %}
    {% render 'product-card-component-icons-bar', current_variant: current_variant, target: target, product_form_id: product_form_id, product: product, layout: layout %}
  {% endcapture %}
  {% render 'image-container',
    image: image,
    product_aspect_ratio: true,
    sizes: '132px',
    class_ic: 'prd-image-wrap',
    is_link: true,
    href: product_url_collection,
    after_img: after_img,
    product_object: product,
    layout: layout,
    bg: settings.product_card_image_placeholder
  %}
  <div class="prd-bot">
    <h3 class="prd-name"><a href="{{ product_url_collection }}" data-url>{{ product.title | escape }}</a></h3>
    {%- render 'price', product: product, use_variant: true, render: true, product_card_style_1: false, product_form_id: product_form_id -%}
    {% render 'product-card-action'
      product: product,
      product_form_id: product_form_id,
      show_variants: settings.product_card_show_variants,
      product_direct: settings.product_direct,
      layout: layout,
      bg: settings.product_card_image_placeholder,
      current_variant: current_variant
    %}
  </div>
</div>