<div class="modal-wrap-scroll js-dropdn-content-scroll">
  <div class="title-wrap text-center">
    <h2 class="h1-style">{{ shop.subscription_policy.title }}</h2>
    <div class="h-sub w-80 d-none d-sm-block">{{ 'theme.general.subscription_description' | t }}</div>
  </div>
  {{ shop.subscription_policy.body }}
  <div class="mt-3 text-center">
    <div class="btn js-close-modal">{{ 'theme.general.okay' | t }}</div>
  </div>
</div>