<div class="modal-wrap-scroll js-dropdn-content-scroll">
  <div class="title-wrap text-center">
    <h2 class="h1-style">{{ page.title }}</h2>
    <div class="h-sub w-80 d-none d-sm-block"></div>
  </div>
  <div class="rte">{{ page.content }}</div>
  <div class="mt-3 text-center">
    <div class="btn js-close-modal" aria-label="{{ 'accessibility.close' | t }}">{{ 'theme.general.okay' | t }}</div>
  </div>
</div>