{% comment %}theme-check-disable NestedSnippet{% endcomment %}
{%- liquid
  if collection == null or collection.handle == 'all'
    assign all_products_count = 0
    for c in product.collections
      if c.handle != 'all' and c.handle != 'frontpage' and all_products_count < c.all_products_count
        assign collection = c
        assign all_products_count = c.all_products_count
      endif
    endfor
  endif

  assign store_width = settings.container_max_width

  if section.settings.section_width == 'custom'
    assign store_width = section.settings.container_max_width
  endif

  if template.suffix contains 'store-width-'
    assign store_width = template.suffix | split: 'store-width-' | last | plus: 0
  endif
-%}

{% if collection and collection.products_count > 1 %}
  <div class="holder mt-global mb-[70px] lg:mb-[100px] {% if store_width > 1465 %}use-grid-xxl{% endif %} {% if store_width > 1700 %}use-grid-xxxl{% endif %}" {% render 'section-style', section: section %}>
    <div class="container related-asif">
      <div class="title-wrap">
        <h2 class="section-title">{{ section.settings.title }}</h2>
        {%- if section.settings.subtitle != blank -%}
          <div class="h-sub w-800">{{ section.settings.subtitle }}</div>
        {%- endif -%}
      </div>

      {%- paginate collection.products by 8 -%}
        <div class="swiper product-swiper swiper-container">
          <div class="swiper-wrapper">
            {%- for product in collection.products -%}
              <div class="swiper-slide recommended-product">
                {% render 'product-card'
                  , product: product
                  , collection: collection %}
              </div>
            {%- endfor -%}
          </div>
          <div class="swiper-arrows-carousel container">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      {%- endpaginate -%}
    </div>
  </div>


{% endif %}
{% schema %}
  {
    "name": "Related products",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "SECTION WIDTH"
      },
      {
        "type": "select",
        "id": "section_width",
        "label": "Select width source",
        "options": [
          {
            "value": "global",
            "label": "Use store width"
          }, {
            "value": "custom",
            "label": "Custom width"
          }
        ],
        "default": "global",
        "info": "Store width you can set in Theme Settings / General"
      },
      {
        "type": "range",
        "id": "container_max_width",
        "min": 1178,
        "max": 1978,
        "step": 8,
        "unit": "px",
        "label": "Custom width",
        "default": 1178,
        "info": "The specified width may differ from the actual width of the section because this section uses a smart grid for the most successful arrangement of columns in rows and for best view. Columns are not scaled, but added when the section width is increased."
      },
      {
        "type": "header",
        "content": "SECTION MARGIN"
      }, {
        "type": "range",
        "id": "spacing_sections",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Vertical space above the section on Desktop",
        "default": 100
      }, {
        "type": "checkbox",
        "id": "use_global_desktop_space",
        "label": "Use global space on desktop",
        "default": true,
        "info": "from Theme Settings / General / Layout"
      }, {
        "type": "range",
        "id": "spacing_sections_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Vertical space above the section on Mobile",
        "default": 70
      }, {
        "type": "checkbox",
        "id": "use_global_mobile_space",
        "label": "Use global space on mobile",
        "default": true,
        "info": "from Theme Settings / General / Layout"
      }, {
        "type": "header",
        "content": "SECTION PADDING",
        "info": "Only if  SECTION BACKGROUND or SECTION SEPARATOR was enabled"
      }, {
        "type": "range",
        "id": "spacing_padding_sections",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Vertical inner padding on Desktop",
        "default": 100
      }, {
        "type": "checkbox",
        "id": "use_global_desktop_space_padding",
        "label": "Use global inner padding on desktop",
        "default": true,
        "info": "from Theme Settings / General / Layout"
      }, {
        "type": "range",
        "id": "spacing_padding_sections_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Vertical inner padding on Mobile",
        "default": 70
      }, {
        "type": "checkbox",
        "id": "use_global_mobile_space_padding",
        "label": "Use global inner padding on Mobile",
        "default": true,
        "info": "from Theme Settings / General / Layout"
      }, {
        "type": "header",
        "content": "SECTION BACKGROUND"
      }, {
        "type": "checkbox",
        "id": "background",
        "label": "Enable secondary background",
        "default": false,
        "info": "Theme Settings / Colors - General"
      }, {
        "type": "header",
        "content": "General"
      }, {
        "type": "text",
        "id": "title",
        "default": "You may also like",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Related products from the same category might interest you"
      }, {
        "type": "paragraph",
        "content": "Products limit and infinite mode you can disable/enable in Theme Settings / Product page"
      }
    ]
  }
{% endschema %}