{%- liquid
  assign layout = 'quick-options'
  assign section_id = 'quick-options'
  assign product_form_id = 'product-form-' | append: section_id | append: '-' | append: product.id

  assign product_url_collection = product.url

  if settings.product_card_url_within_collection
    assign product_url_collection = product.url | within: collection
  endif

  assign swatches_width = settings.product_swatches_page_color_min_width

  if settings.product_swatches_page_inherits_global
    assign swatches_width = settings.product_swatches_color_min_width
  endif
-%}
<div class="prd-block" data-section-render>
  <div class="prd-block-scroll js-dropdn-content-scroll">
    <div class="prd-block-info prd-block-info--style1 col-12 col-lg-6">
      <div class="prd-block-info-scroll js-dropdn-content-scroll">
        <h1 class="prd-block-name mt-product-global" data-url>
          <a href="{{ product_url_collection }}">{{ product.title | escape | truncate: 65, '..' }}</a>
        </h1>
        <div class="prd-block-price mt-product-global">
          {%- render 'price', render: true, product: product, use_variant: true, show_badges: true, product_form_id: product_form_id, layout: layout -%}
        </div>
        <div class="prd-block-options mt-product-global">
          <div class="prd-option">
            {% render 'variant_picker',
              product: product,
              product_form_id: product_form_id,
              section: section,
              section_id: section_id
              layout: layout,
              picker_type: settings.product_card_picker_type,
              use_pics: settings.product_card_use_pics,
              use_variants_media: settings.product_card_use_variants_media,
              color_options_name: settings.product_card_color_options_name,
              swatches_width: swatches_width
            %}
          </div>
        </div>
        {% render 'product-buy-buttons'
          product: product,
          product_form_id: product_form_id,
          section_id: section_id,
          layout: layout,
          show_dynamic_checkout: false,
          checkout_agreement: false,
          class: 'mt-product-global',
          show_cart_note: settings.show_cart_note,
          pickup: true
        %}
      </div>
    </div>
</div>
</div>
<button type="button" data-fancybox-close class="fancybox-button fancybox-close-small" title="{{ 'theme.general.close_cap' | t }}"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>